# config file version
apiVersion: 1

datasources:
    # <string, required> name of the datasource. Required
  - name: influxdb
    # <string, required> datasource type. Required
    type: influxdb
    # <string, required> access mode. proxy or direct (Server or Browser in the UI). Required
    access: proxy
    # <string> custom UID which can be used to reference this datasource in other parts of the configuration, if not specified will be generated automatically
    uid: influx_db_uid
    # <string> url
    url: http://fknms-dashboard.marine.usf.edu:8086  # TODO: use $INFLUXDB_HOSTNAME
    # <string> database name, if used
    database: fwc_coral_disease
    # <bool> mark as default datasource. Max one per org
    isDefault:
    # <map> fields that will be converted to json and stored in jsonData
    jsonData:
      graphiteVersion: '1.1'
      tlsAuth: false
      tlsAuthWithCACert: false
    version: 1
    # <bool> allow users to edit datasources from the UI.
    editable: false
